<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="net.sf.aria2" >

    <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" tools:ignore="ProtectedPermissions"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" android:maxSdkVersion="22" />
    <uses-permission-sdk-23 android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/aria2_logo"
        android:banner="@drawable/ic_banner"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
        >
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.sf.aria2.MainActivity"/>
        </activity>

        <activity
            android:name=".JsFrontendActivity"
            android:parentActivityName=".MainActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/JsFrontendTheme"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleInstance"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.sf.aria2.MainActivity"/>
        </activity>

        <service
            android:name=".Aria2Service"
            android:process=":aria2" />

        <receiver android:name=".PrivateReceiver"
                  android:exported="false"/>

        <receiver android:name=".PublicReceiver"
                  android:exported="true"
                  tools:ignore="ExportedReceiver"/>
    </application>

</manifest>
